<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to TradeUp, *user name*</h1>
    <p>
      You have successfully posted a new job on TradeUp. We will send you another email when someone takes the job. 
    </p>
  </body>
</html>