<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    
    </style>
  </head>
  <body>
    <p>Hi, <%= @user.username %></p>
    <p>Thank you for using TradeUp, your job has been successfully posted</p>
    <p>
    We will notify you when someone takes your job.</p>

    <p>To view or edit your job posting, click here *link to job show page*</p>
    
    <p>Regards,<br>The TradeUp Team</p>
    <footer>
    Copyright © 2018 TradeUp, All rights reserved.<br>
    Sent by TradeUp *link*. 120 Spencer St., Melbourne City, VIC 3000 %>
    </footer>
  </body>
</html>