
<div class="welcome">
    <div class="card">
        <h3>Need Something fixed?</h3>
        <%= label_tag :category, "Choose a category:" %>
        <%= form_tag new_job_path, method: :get do |form| %>
            <div class="dropdown-content">
                    <%= collection_select(:job, :category_id, JobCategory.all, :id, :category, :required => true, :include_blank => true) %> 
                    <br><br>
                    <%= submit_tag "Create Job", :class => "button" %>
            </div>
        <% end %> 
    </div>
</div>


