<div class="tradie-image">
    <div class="tradie-text">
        <div class="actions">
            <div class="box tradie">
                <div class="tradie-form">
                    
                    <div style="margin: auto 1.5em; display: inline-block;">
                        <%= render 'form', user_profile: @user_profile %>
                        <br>
                        <%= link_to 'Back', :class => "back" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
