<div class="error">
    <div class="card">
        <%= image_tag asset_path("error_400.png") %>

        <div class="text">
            <h1>It's not you it's the link...</h1>

            <p>Error code: 400</p>
            <p>
                Bad Request. Your browser sent a request this server could not understand.  Size of request header exceeds server limit.
            </p>
        </div>
    </div>
</div>