/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "jobs/index";

body, html {
    background-color: #C4C4C4;
    height: 80vh;
    margin: 0px;

}

/* The paint brush image */
.brush-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.233)), url("paint.jpg");
    padding: 400;
    margin: -400;
    /* Set a specific height */
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:100vw;
    left: 0px;
}

/* Place text in the middle of the image */
.brush-text {
    text-align: center;
    text-overflow: initial;
    position: absolute;
    text-align: justify;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -90%);
    color: white;
}

h3 {

    font-size: 35px;
    line-height: 36px;
    text-align: center;
}

.bg-container {
    background-color: #d12626;
  }

.p-2 {
    background-color: #f2f2f2;
    block-size: 20%;
}

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: none;
    color: #fff;
  }

  .home {
    height: 35vh;
    background-color: white;
    color: #ee7f71;
    font: 25px;
    font-family: 'Playfair Display', serif;
    font-style: bold;
    border-radius: 5px;
    margin: 0px;
    position: sticky;
  }

  .grid {
    min-height: 30px;
  }

  .button {
    background-color: #EE8071;
    font-color: #FDFDFD;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
  }


  #job_category_id {

    -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-padding-end: 20px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   color: #C4C4C4;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
  }
