.error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .card  {
        background: white;
        border-radius: 10px;
        width: 70vw;
        padding: 50px;
        margin: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .text {
            display:flex;
            flex-direction: column;
            justify-content: center;
            max-width: 500px;
        }
    }
}