.index {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 20px;
    }

    .search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        .field {
            display: inline-block;
            margin: 50px;
            align-self: flex-end;
            color: #EE8071;
            .box {
                background: white;
                width: 300px;
                height: 30px;
                border-radius: 5px;
                border: none;
            }
        }
        button {
            border: 1px solid #EE8071;
            width: 70px;
            border-radius: 5px;
            margin-bottom: 10px;
            text-align: center;
            padding: 5px;
            .inner-button {
                color: #EE8071;
                border: none;
                font-size: 16px;
                padding: 0px;
                margin: 0px;
                line-height: 0px;
                height: 15px;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.5;
                font-size: 18px;
            }
        }
    }

    .postcode {
        padding-bottom: 4px;
    }
    .category {
        padding-top: 4px;
    }

    .card{
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
        margin-left: 15vw;
        margin-bottom:10px;
        padding: 10px;
        p {
            margin: 0;
        }
        .profile {
            border-radius: 100px;
            width: 70px;
        }
        .picture {
            align-self: center;
            display:flex;
            flex-direction: column;
        }
        .job {
            max-width: 200px;
        }
        .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        button {
            border: 1px solid #EE8071;
            width: 120px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
}