.signup-signin {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.233)), url("sign_up_image123.jpg");
    width: 100vw;
    height: 80vh;
    background-size: cover;
    position: relative;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .card {
      background: white;
      width: 30vw;
      padding: 20px;
      border-radius: 5px;
      margin-left: 60vw;
      color: #EE8071;
    }
    .box {
      width: 100%;
      background: #E5E5E5;
      border: none;
      border-radius: 5px;
  }
  .button {
    border: 1px solid #EE8071;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    .inner-button {
      color: #EE8071;
      border: none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      line-height: 0px;
    
    }
}
}